<h1>Todo List</h1>
<p><%= link_to 'Create a New Task', new_todo_path %></p>
<% @todos.each do |todo| %>
  <h2><%= todo.title %></h2>
  <%= link_to 'Show task', todo_path(todo) %>
  <%= link_to 'Edit task', edit_todo_path(todo) %>
  <%= link_to 'Delete task', todo, method: :delete %>
<% end %>
